
h2 {
    font-size: 1rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
    
}
h3 {
    font-size: 1rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
    
}
.menu-promo-container {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #fff;
    font-size: 13pt;
    height: 50px;
    line-height: 50px
}

.nav {
    overflow: hidden;
    position: relative;
    margin: 0px auto!important;
    width: 200px;
    height: 50px;
    line-height: 50px
}

.nav a {
    display: block;
    position: relative;
    float: left;
    text-decoration: none;
    text-align: center;
    color: #393939;
    transition: .7s;
    animation: all .7s linear;
    width: 100px
}

.nav a:hover, .nav a.current {
    color: #000
}

.effect {
    position: absolute;
    left: -80px;
    bottom: 0px;
    transition: 0.7s ease-in-out
}

.nav a:nth-child(1):hover ~ .effect, .nav a:nth-child(1):hover ~ .effect {
    left: 0px
}

.nav a:nth-child(2):hover ~ .effect {
    left: 100px
}

.ph-line-nav .effect {
    width: 80px;
    height: 5px;
    bottom: 0px;
    background: #FF5A14;
    box-shadow: 0 1px 0 white
}

.effect.hotels {
    left: 0px
}

.effect.tours {
    left: 100px
}

.offersContainer {
    padding: 10px;
    margin: 20px 0;
    background: #f1f1f1;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.offersContainer .offer {
    display: inline-block;
    width: 100%;
    margin: 10px 0
}

.infoOffer {
    background: #fff
}

.infoOffer hr {
    margin: 0;
    margin-top: 3%
}

.offerName {
    background: #fff;
    text-align: center;
    font-size: 24px
}

.offerName a {
    color: #000;
    font-weight: bold;
    padding: 1%
}

.offerName, .promo-div-coined-desc {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.promo-div-coined-desc h1, .promo-div-coined-desc h2, .promo-div-coined-desc h3, .promo-div-coined-desc h4, .promo-div-coined-desc h5, .promo-div-coined-desc h6, .promo-div-coined-desc p {
    font-size: 18px
}

.offerBook {
    text-align: center;
    padding: 10px;
    max-width: 200px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.offerBook .book {
    background: #FF5A14;
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 16px;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.promo-div-full-desc h1, .promo-div-full-desc h2, .promo-div-full-desc h3, .promo-div-full-desc h4, .promo-div-full-desc h5, .promo-div-full-desc h6 {
    font-size: 16px;
    text-align: center;
    margin: 10px 0
}

.bookingDeals {
    width: 100%;
    float: left;
    display: block;
    margin: 10px 0
}

#main_home_booking_box_new {
    width: 100%;
    margin: 10px 0;
    float: left;
    display: block;
    border: 3px solid #FF5A14;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#main_home_booking_box_new .booking_options {
    border: none;
    padding: 0
}

#main_home_booking_box_new #actBooking, #main_home_booking_box_new #hotelBooking {
    width: 100%;
    float: none
}

#main_home_booking_box_new .destHotelBook {
    width: 100%
}

#main_home_booking_box_new .dateHotelBook, #main_home_booking_box_new .dateActBook {
    width: 100%
}

#main_home_booking_box_new .roomHotelBook {
    width: 100%
}

#main_home_booking_box_new .peopleHotelBook, #main_home_booking_box_new .peopleActBook {
    width: 50%
}

#main_home_booking_box_new .searchHotelBook {
    width: 100%;
    float: none;
    margin: 0 auto;
    text-align: center
}

#main_home_booking_box_new .searchHotelBook label {
    display: none
}

#main_home_booking_box_new .searchbtn {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#dealsDesc {
    padding: 10px;
    float: left;
    width: 100%;
    display: block;
    margin: 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.listContainer {
    width: 100%;
    float: left;
    margin: 10px 0;
    display: block
}

#itemContainer {
    overflow: hidden
}

.elementList {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 10px 0
}

.elementList .miniPhoto {
    width: 100%;
    padding: 0;
    height: 180px;
    overflow: hidden;
    background: #fff;
    position: relative;
    text-align: center;
    float: left
}

.elementList .miniPhoto img {
    height: 180px;
    width: auto;
    float: none;
    margin: 0 auto
}

.elementList .elementData, .elementList .elementTax {
    width: 100%;
    padding: 10px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.elementList .elementData .elementName {
    color: #000;
    margin: 0;
    text-align: left;
    font-size: 18px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.elementList .elementData .smallLetter {
    display: none
}

.elementList .elementTax {
    position: relative;
    text-align: center
}

.elementList .elementTax .imgValorAgregado {
    width: 100%;
    margin: 0 auto;
    max-width: 200px;
    position: relative;
    top: 0;
    font-size: 14px;
    color: #fff;
    border-radius: 0 0 5px 5px;
    background: #79cdcd
}

.elementList .elementTax .elementPrice {
    color: #FF5A14;
    font-size: 30px;
    font-weight: 400;
    padding: 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.elementList .elementTax .notAvailable {
    font-size: 14px;
    font-weight: 300;
    color: #FF5A14
}

.elementList .elementTax .elementPrice .currency_code {
    font-size: 22px
}

.elementList .elementTax .elementPriceInfo {
    font-size: 14px;
    padding: 5px 0
}

.elementList .elementTax .elementCategory {
    margin: 0;
    padding: 5px 0;
    line-height: 100%
}

.elementList .elementTax .elementBook {
    display: block;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.elementList .elementTax .elementBook .book {
    width: 100%;

    font-size: 20px;
    display: block;
    border: none;

    color: #fff;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media only screen and (min-width:480px) {
    .promo-div-full-desc h1, .promo-div-full-desc h2, .promo-div-full-desc h3, .promo-div-full-desc h4, .promo-div-full-desc h5, .promo-div-full-desc h6 {
        font-size: 24px
    }
    #main_home_booking_box_new .roomHotelBook, #main_home_booking_box_new .peopleHotelBook {
        width: 33.3%
    }
    #main_home_booking_box_new .dateActBook {
        width: 50%
    }
    #main_home_booking_box_new .peopleActBook {
        width: 25%
    }
    #main_home_booking_box_new .searchbtn {
        max-width: 200px
    }
}

@media only screen and (min-width:630px) {
    #main_home_booking_box_new .dateHotelBook {
        width: 50%
    }
    .elementList .miniPhotoPhoto {
        width: 100%;
        float: left
    }
    .elementList .elementData {
        width: 65%;
        float: left
    }
    .elementList .elementData .elementName {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left
    }
    .elementList .elementTax {
        width: 35%;
        float: left;
        padding-top: 10px
    }
    .elementList .elementTax .elementBook .book {
        max-width: 200px;
        margin: 0 auto
    }
}

@media only screen and (min-width:768px) {
    .offersContainer .offer {
        width: 47%;
        margin: 10px 1%
    }
    .promo-div-coined-desc {
        height: 90px
    }
    .elementList {
        float: left;
        width: 100%
    }
    .elementList .miniPhoto {
        width: 25%;
        height: 180px
    }
    .elementList .miniPhoto img {
        height: 180px
    }
    .elementList .elementData {
        width: 50%;
        height: auto
    }
    .elementList .elementData .smallLetter {
        padding-bottom: 0px
    }
    .elementList .elementTax {
        width: 25%;
        float: right;
        max-width: 200px
    }
}

@media only screen and (min-width:980px) {
    #main_home_booking_box_new .dateHotelBook {
        width: 100%
    }
    .bookingDeals {
        width: 30%
    }
    #main_home_booking_box_new {
        border: 1px solid #ccc
    }
    #main_home_booking_box_new .dateActBook {
        width: 100%
    }
    #main_home_booking_box_new .peopleActBook {
        width: 50%
    }
    .listContainer {
        width: 69%;
        float: right;
        margin-left: 1%
    }
}

@media only screen and (min-width:1024px) {
    .offersContainer .offer {
        width: 30.3%
    }
    #main_home_booking_box_new .dateHotelBook, #main_home_booking_box_new .dateActBook {
        width: 50%
    }
    #main_home_booking_box_new .peopleActBook {
        width: 25%
    }
}