/* fuente de la pagina */
@font-face {font-family: Junction;src: url("/es/font/Junction_02.ttf") format("opentype");}
body{	font-family:Junction, serif;}
.txtCant{font-family:serif;}
/* declaracion del header*/
header{position: absolute;top: 0px;left: 0px;width: 100%;height:150px;background-color: #212121 !important}
h5,h4,h3,h2,h1,label{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
label {
    font-size: 0.8rem;
    color: #000; 
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
/* modales*/

.inActiveM{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:0px;
  overflow:hidden;
  z-index:18;
}
.activeM{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:19;
  background-color:rgba(0,0,0,0.8);
  overflow:hidden;
}
.cerrar-close{
  cursor:pointer;
}
.panel-modal{
  margin:0 auto;
  width:60%;
  margin-top:10%;
}
@media screen and (max-width:800px ) {
  .panel-modal {
      margin: 0 auto;
      width: 90%;
      margin-top: 10%;
  }
}

/*  */
  .reset{
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0rem;
  }

  main{
    flex: 1 0 auto;
    z-index:0;
  }
/* clases sobrescritas de jqueri ui*/
.ui-widget-header {
    border: 1px solid #FF5A14;
    background: #FF5A14;
    color: #fff;
    font-weight: bold;
}
/* clases sobreescritas de materializecss */
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 5px;
    background-color: #FF5A14;
    will-change: left, right;
}
.tabs .tab a {
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: color .28s ease;
    -moz-transition: color .28s ease;
    -o-transition: color .28s ease;
    -ms-transition: color .28s ease;
    transition: color .28s ease;
}
.tabs {
    position: relative;
    height: 48px;
    background-color:rgba(0,0,0,0); 
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
}
.card .card-title {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
.card-contenido{
  font-size: 12px;
}
.card .card-content {
    padding: 5px;
    border-radius: 0 0 2px 2px;
}
.card .card-action {
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 5px; 
 }
 .z-depth-1, nav, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
}
.card-panel{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.card .card-action a {
    color: #ffab40;
    margin-right: 20px;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    -ms-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: none; 
}
input[type=search]{
  background-color:rgba(255,255,255,0,7);
}

.picker__day.picker__day--today {
    color: #FF5A14;
}
.picker__date-display {
    text-align: center;
    background-color: #FF5A14;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 300;
}
.picker__weekday-display {
    background-color: #FF5A14;
    padding: 10px;
    font-weight: 200;
    letter-spacing: .5;
    font-size: 1rem;
    margin-bottom: 15px;
}
.picker__close, .picker__today {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: #FF5A14;
}

.active{
  color: #FF5A14;
  border-bottom: 2px solid #FF5A14;
}
.active a{

}
/*.card.small {
    height: 200px;
}*/
/* */


#sidenav-overlay{
  z-index:0;
}
.immagenFondo{
  width:100%;
  overflow:hidden;
}
.textoBanner{
    position: relative;
    width: 100%;
    height: 20%;
    top: 40%;
    left: 0%;  
}
.wrapFondo{
  position:absolute;
  width:100%;
  height:600px;
  top:-600px;
  left: 0px;

}
.txtTextoBanner{
  font-weight:bold;
  color:white;
}
/* posicion del formulario de bookin [inicio]*/
.bookin-form{
    position: absolute;
    width: 100%;
    height: auto;
    top: 500px;
    left: 0px;
}
.bookin{
  border-top: 3px solid #FF5A14;
    /*height: 255px;*/
}

@media screen and (max-width:1000px ) {
    .bookin{
        border-top: 3px solid #FF5A14;
        height: auto;
    }
}
/* posicion del formulario de bookin [final]  */
.menuLogo{
	height:80px;
}
.imgLogo{
    height: 80px;
    position: relative;	
}
.textoHeader{
     position: absolute;
    top: 200px;
    width:100%;
    font-family:serif;
    color:white;
    font-weight:bold; 
}
.menuLogoItems
{  float:right;
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;
   height:50px;
   margin:20px;
}
.menuLogoItems li
{  
   list-style-type: none;
   display: inline;
   padding-right: 5px;
   margin-left:10px;
   cursor:pointer; 
}
.menuLogoItems a,.menuLogoItems a:link,.menuLogoItems
{  
  color:white; 
  text-decoration:none;
}
.menuLogoItems a:hover
{  
  color:#337ab7;
  text-decoration:none; 
}

nav {color: #000;background-color: rgba(0,0,0,0);width: 100%;height: 56px;line-height: 56px;box-shadow: 0 2px 5px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0);}
nav .button-collapse {
    float: right;
    position: relative;
    z-index: 1;
    height: 56px;
}
nav .button-collapse i {
    font-size: 5rem;
    height: 56px;
    line-height: 56px;
    float: right;
}
nav a{
  color:black;
}
nav ul li {
    margin-left: 35px;
    width: 11%;
}
@media screen and (max-width:1400px ) {
    nav ul li {
        margin-left: 12px;
    }
}
@media screen and (max-width:1100px ) {
    nav ul li{
        margin-left:5px;
    }
}

nav ul a {
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
} 
nav ul a:hover{color:#FF5A14}
a,a:hover{color:black}
@media screen and (max-width:1150px ) {
  nav ul a {font-size:0.8rem;}
}
/*animacion intro [inicio]*/
    #animacionIntroLeft{
      position:fixed;
      width:50%;
      height:100%;
      top:0px;
      left:0px;
      z-index:20;
    }
    #animacionIntroRight{
      position:fixed;
      width:50%;
      height:100%;
      top:0px;
      right:0px;
      z-index:20;
    }
    #animacionIntroRighta{
      position:fixed;
      width:50%;
      height:100%;
      top:0px;
      right:0px;
      z-index:10;
    }
    #animacionIntroLogo{
        position: fixed;
        width: 80%;
        /* height: 10%; */
        top: 25%;
        right: 10%;
        z-index: 21;
        color: white;
        text-shadow: -2px -1px black;
    }
@media screen and (max-width:600px ) {
    #animacionIntroLogo{
        position: fixed;
        width: 100%;
        /* height: 10%; */
        top: 15%;
        right: 0%;
        z-index: 21;
        color: white;
        text-shadow: -2px -1px black;
    }
}

    .img-intro{
      width:100%;
      height:100%;
    }
/*animacion intro [final]*/

/* home */
.imagenFooter{
  height:400px;
}
.container ul li{
    display: inline;
}
.line_new{
    height: 10px;
    position: relative;
    top: 0px;
    left: -263px;
    display: none;
}
.line_news{
    background-color:#FF5A14;
}
.imgfooter{
  width:100%;
  overflow:hidden;
}

/* view destinos [inicio]*/
.card-destinos{
    padding: 0px 60px 0px 60px;
}
@media screen and (max-width:1300px ) {
  .card-destinos{
      padding: 10px;
  } 
}
.contenidoDestinos{
    position: relative;
    top: -59px;
    width: 90%;
    left: 5%;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.textoCaja{
      text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    /*font-family: sans-serif;*/
}
/* view destinos [Final ]*/
/* view de news [inicio]*/



/* view de news [Final]*/
/* iconos redes sociales*/
#iconF{
    background-image: url("/images/icon/redes-colores.png");
    /* background-repeat: no-repeat; */
    background-position: 565px 671px;
    width: 50px;
    height: 50px;
}
#iconT{
    background-image: url("/images/icon/redes-colores.png");
    /* background-repeat: no-repeat; */
    background-position: 505px 671px;
    width: 50px;
    height: 50px;
}
#iconP{
    background-image: url("/images/icon/redes-colores.png");
    /* background-repeat: no-repeat; */
    background-position: 445px 671px;
    width: 50px;
    height: 50px;
}
#iconG{
    background-image: url("/images/icon/redes-colores.png");
    /* background-repeat: no-repeat; */
    background-position: 385px 671px;
    width: 50px;
    height: 50px;
}
#iconS{
    background-image: url("/images/icon/redes-colores.png");
    /* background-repeat: no-repeat; */
    background-position: 145px 671px;
    width: 50px;
    height: 50px;
}
#iconB{
    background-image: url("/images/icon/redes-colores.png");
    /* background-repeat: no-repeat; */
    background-position: 325px 610px;
    width: 50px;
    height: 49px;
}

.error{
    background-color: white;
    color: red;
    z-index: 1;
}
.label-activo{
    color: #FF5A14;
    border-bottom: 2px solid #FF5A14;
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
}

