header{
    background:url('/images/bg/news.jpg');
    background-size:cover;
}
h2 {
    font-size: 1rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;

}
h3 {
    font-size: 1rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;

}
#labelInBookin{
    color: white;
}